# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/

# Django migration files (optional)
# */migrations/

# Virtual environment directories
env/
venv/

# Database files
*.db
db.sqlite3

# Log files
*.log

# Local settings
local_settings.py

# IDE/editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Git directories
.git
.gitignore

# Miscellaneous build artifacts
static/
media/
